@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* 가로 스크롤 방지 */
}

@layer base {
  body {
    @apply font-mono;
  }
}

@font-face {
  font-family: 'MesloLGS';
  src: url('/fonts/MesloLGS-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}